.about__container {
    text-align: center;
    padding: 60px 0;
    .about__img {
        width: 100%;
        img{
            width: 100%;
        }
    }
    .about__content {
        margin-top: 30px;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        h1 {
            text-transform: uppercase;
        }
        p {
            margin: 20px 0 0;
            text-align: justify;
        }
        a{
        // margin-top: 20px;
        background-color: $color-primary;
        padding:16px 32px;
        color: $color-secondary;
        transition: .5s ease-in-out;
        width: max-content;
        margin:20px auto 0 auto;
        }
        a:hover {
            color: $color-secondary;
            background-color: $color-neutral;
        }
    }
}

@media screen and (min-width:1201px) {
    .about__container {
        display: flex;
        flex-direction: row-reverse;
        height:70vh;
        text-align: start;
        padding-top: 50px;
        .about__img {
            img {
                width: 550px;
                height: 350px;
            }
        }
        .about__content {
            padding-right: 30px;
            margin-top: 30px;
            line-height: 1.3;
            a {
            margin:20px 0 0 ;
        }
        }
        
    }
}