header {
    padding:0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-primary;
    color: $color-secondary;
    z-index: 100;
    .menu__open, .menu__close,.nav__logo {
        cursor: pointer;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav__logo {
            padding: 10px;
        }
        ul {
            display: none;
        }
        .menu__open {
            padding: 20px;
        }
    } 
    a {
        color: $color-secondary;
    }                                                                                                          
    .mobile__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $color-neutral;
        opacity: .9;
        .mobile__menu--wrapper {
            padding: 20px;
            display: flex;
            flex-direction: column;
            .menu__close {
                padding: 20px;
                align-self: flex-end;
            }
            ul{
                li {
                    padding: 20px;
                    border-bottom: 1px solid black;
                }
                a {
                    color: white;
                }
            }
        }
        
    }
}

@media screen and (min-width:901px) {
    header {
        padding: 20px 40px;
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul {
                display: flex;
                gap: 30px;
                align-items: center;
                li {
                    padding: 10px;
                    
                }
                li:hover {
                    border-bottom: 2px solid $color-primary;
                    transition: .5s;
                }
                a {
                    color: $color-secondary;
                    
                }
                
            }
            .menu__open {
                display: none;
            }
        }
        .mobile__menu {
            display: none;
        }
    }
    
}

@media screen and (min-width:1201px) {
    header {
        padding:20px 120px;
        nav {
            font-weight: 700;
            ul {
                gap: 30px;
                li {
                    padding: 20px;
                }
            }
            .menu__open {
                display: none;
            }
        }
    }
    
}